# File Types
*~
*.rpyc
*.log
*.png

# Individual Files
errors.txt
apikey.txt
CustomIconMac.icns
CustomIconWindows.ico
DDLC.app
COPYRIGHT.txt
icon.icns
icon.ico
log.txt
MAS.exe
MAS.py
MAS.sh
project.json
README.html
traceback.txt

# Folders
characters
chess_games
custom_bgm
game
lib
log
piano_songs
renpy
update

# Include only important folders and files
!game/Submods/NSFW\ Submod
!game/mod_assets/monika/c/birthdaysuit
!game/mod_assets/monika/c/plain_underwear_black
!game/mod_assets/monika/c/plain_underwear_pink
!game/mod_assets/monika/c/plain_underwear_white
!game/mod_assets/thumbs/clothes-birthdaysuit.png
!game/mod_assets/thumbs/clothes-plain_underwear_black.png
!game/mod_assets/thumbs/clothes-plain_underwear_pink.png
!game/mod_assets/thumbs/clothes-plain_underwear_white.png