*/
!.*/

*.rpyc
*.txt
*.icns
*.ico
*.log
*.exe
*.py
*.sh
*.json
*.HTML
*.png

!README.md
!/.gitignore

!game
game/*

!game/mod_assets
game/mod_assets/*

!game/mod_assets/monika
game/mod_assets/monika/*
!game/mod_assets/monika/c
game/mod_assets/monika/c/*
!game/mod_assets/monika/c/birthdaysuit
!game/mod_assets/monika/c/plain_underwear_black
!game/mod_assets/monika/c/plain_underwear_pink
!game/mod_assets/monika/c/plain_underwear_white

!game/mod_assets/thumbs
game/mod_assets/thumbs/*
!game/mod_assets/thumbs/clothes-birthdaysuit.png
!game/mod_assets/thumbs/clothes-plain_underwear_black.png
!game/mod_assets/thumbs/clothes-plain_underwear_pink.png
!game/mod_assets/thumbs/clothes-plain_underwear_white.png

!game/Submods
game/Submods/*
!game/Submods/NSFW\ Submod
game/Submods/NSFW\ Submod/nsfw_dev.rpy

# Include only important folders and files
!game/Submods/NSFW\ Submod

